body {
  max-width: 100%;
  margin: 0;
  height: auto;
}
/* ----------------------------------------header ------------------------*/
header {
  background-color: #063852;
  color: #e6df44;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #fff; Thay đổi màu nền tùy theo nhu cầu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ cho navbar */
}
/* ----------------------------------------nav 1 ------------------------*/
.logo {
  width: 20vw;
  height: 10vw;
  border-radius: 2vw;
}
.row {
  max-width: 95%;
  padding-left: 2vw;
}
.nav-1-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
.searchinput-nav-1-header {
  color: #cfcccc;
  /* margin-right: 1vw; */
  width: 20vw;
  height: 3vw;
  font-size: 1.5vw;
  border-radius: 1vw;
  margin-left: -10vw;
}
button.btn.btn-primary {
  color: #e6df44;
  font-size: 1.5vw;
  margin-left: -10vw;
  border-radius: 1vw;
  width: 8vw !important;
  height: 3.2vw !important;
  padding: 0.5vw;
}
button.btn.btn-primary:hover {
  color: #ff7f50;
}
.addcart-nav-1-header {
  width: 3vw;
  height: auto;
  margin-left: -10vw;
}
.login-nav-1-header {
  color: #e6df44 !important;
  font-size: 1.7vw;
  margin-left: -10vw;
}
a.login-nav-1-header:hover {
  color: #ff7f50 !important;
}
/* ----------------------------------------nav 2 ------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  background-color: #063852;
  font-size: 1.7vw;
  padding-left: 10vw;
  padding-top: 2vw;
}
nav a {
  color: #e6df44;
}

nav a:hover {
  color: #ff7f50;
}

.active {
  color: #e6df44;
}
.dropdown-menu {
  background-color: #063852 !important;
  width: fit-content !important;
}
nav div ul li a:hover {
  color: #ff7f50 !important;
  background-color: #063852 !important;
}
.dropdown-item {
  color: #e6df44 !important;
  font-size: 1.7vw;
  font-weight: bolder;
}
.divider {
  color: greenyellow !important;
}
.btn-danger {
  background-color: #063852 !important;
  color: #e6df44 !important;
  font-size: 1.7vw;
  border: solid 1px #063852;
  font-weight: bold;
}
.active:hover {
  color: #ff7f50 !important;
}
/* ----------------------------------------footer ------------------------*/
footer {
  background-color: #063852;
  color: #e6df44;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: left;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.col-1-footer-content {
  color: #e6df44;
}
.column-1-footer {
  font-size: 1.7vw;
  flex: 30%;
  padding-left: 2vw;
  text-align: left;
  color: #e6df44 !important;
}
.column-2-footer {
  font-size: 1.7vw;
  flex: 20%;
  margin-left: auto;
  text-align: left;
}
.column-3-footer {
  flex: 40%;
  padding: 1vw;
  margin-left: auto;
  text-align: center;
}
.icon-footer {
  width: 1.7vw;
  height: 1.7vw;
  text-align: left;
}
.icon-2-footer {
  width: 3vw;
  height: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
.col-1-footer {
  padding-left: 2vw;
  margin-top: 2vw;
}
.map-google {
  width: 40vw;
  height: 20vw;
  text-align: center;
}
.copyright {
  color: #063852;
  text-align: left;
  padding-left: 4vw;
  font-size: 1.7vw;
}
/* ----------------------------------------scroll to top ------------------------*/
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #063852;
  color: #ffffff;
  cursor: pointer;
  padding: 1vw;
  border-radius: 50%;
  transition: background-color 0.3s;
  font-weight: bolder;
}

#scrollBtn:hover {
  background-color: #e6df44; /* Màu nền khi di chuột qua nút */
}
/* ----------------------------------------body ------------------------*/
.main-content {
  color: #063852;
  /* max-width: 98%; */
  margin-left: 2vw;
  margin-right: 2vw;
}

/* hinh anh full frame */
.img-frame-width-full {
  max-width: 100%;
  height: 10%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.img-frame-center {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.img1 {
  text-align: center;
}
.img {
  max-width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
  max-height: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
  height: auto; /* Đảm bảo tỷ lệ khung hình được bảo toàn */
}
/* image le phai */
.img-right-subject {
  width: 40vw;
  height: auto;
  display: inline-block;
  margin-right: 5vw;
}
/* image le trai */
.img-left-subject {
  width: 40vw;
  height: auto;
  display: inline-block;
  margin-left: 8vw;
}
/* nut nhan dong y- submit */
a.btn.btn-primary,
.btn-submit-cancel {
  width: 13vw;
  font-size: 1.7vw;
}

/* noi dung tieu de trai */
.font-head-title-left {
  font-size: 2.22vw;
  font-weight: bolder;
  text-align: left;
}
/* content le trai */
.font-content-frame-left {
  font-size: 1.7vw;
  text-align: left;
  width: 20vw;
  height: auto;
}

/* index */
.space-content-right-body {
  padding-left: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-right: 10vw;
}
/* index */
.space-content-left-body {
  padding-left: 25vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  /* border: solid 1px #063852; */
}
/* 
.social-item {
  color: azure;
  float: top 10rem;
  font-size: 30px;
  line-height: 1.5rem;
  margin: 1.3rem;
} */
/* bodyfit */

/* .ontop { */
/* width: 80%; Chiều rộng của container */
/* max-width: 200px; Chiều rộng tối đa của container
  margin: 10px auto; Canh giữa container
  padding: 20px; Khoảng cách bên trong container
  background-color: #e6df44; Màu nền của container
  border: 1px solid #ccc; Đường viền của container
  border-radius: 10%; Đường cong viền
  text-align: center;
} */

/* tieu de center */
.font-head-title-center {
  font-size: 3.43vw;
  font-weight: bolder;
  text-align: center;
}
.font-sub-title-center {
  font-size: 2.22vw;
  font-weight: bolder;
  text-align: center;
}
.font-sub-title-left {
  font-size: 2.22vw;
  font-weight: bolder;
  text-align: left;
}
.font-sub-title-right {
  font-size: 2.22vw;
  font-weight: bolder;
  text-align: right;
}
/* noi dung ben trai */
.font-content-right {
  font-size: 1.7vw;
  text-align: right;
}
/* noi dung ben phai */
.font-content-left {
  font-size: 1.7vw;
  text-align: left;
}
/* noi dung center */
.font-content-center {
  font-size: 1.7vw;
  text-align: center;
}
.form-center-body {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form#registrationForm {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form#forgetPassword {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
form#logInForm {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.payment {
  display: flex;
  justify-content: center;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  width: 70vw;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.paymentForm {
  width: 15vw;
}
.paymentForm1 {
  width: 8vw;
  text-align: center;
}
/* =============================bo========================== */
.main-bodyfit1 {
  text-align: center;
  font-size: 30px;
}

.mian-sexydance {
  text-align: center;
  font-size: 30px;
}
.font-heading-sexydance {
  font-size: 2.8vw;
  font-weight: bolder;
  text-align: center;
  color: #063852;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0;
  border: #063852; */
}
.imgsexy {
  text-align: center;
}
.mian-sexydance1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.sexydance {
  text-align: center;
}
.mian-zumba {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
/* .zumba {
  text-align: center;
} */
.mian-swimming {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.font-heading-subcontent {
  font-size: 2.22vw;
  font-weight: bolder;
  color: #063852;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0;
  border: #063852; */
}
.main-cycling {
  text-align: center;
  margin: 0;
  font-size: 1.7vw;
}
.cycling {
  text-align: center;
}
.font-content-group {
  font-size: 2.8vw;
  font-weight: bolder;
  color: #063852;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0;
  border: #063852; */
}
.mian-group,
ul {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.mian-group1 {
  font-size: 1.8vw;
  font-weight: bolder;
  color: #063852;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0;
  border: #063852; */
}

.font-heading-member {
  font-size: 2.8vw;
  font-weight: bolder;
  color: #063852;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 0;
  border: #063852; */
}
.mian-member {
  text-align: center;
  margin: 0;
  font-size: 30px;
}
.tex {
  text-align: center;
}
.container-contact {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-contact h2 {
  text-align: center;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  font-weight: bold;
}
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
}
